html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: $font1;
	color: $text1;
	@include font-size(16px);
}
p, h1, h2, h3, h4, h5, h6, a, img {
	backface-visibility: hidden; // Prevents bugs in opacity.transitions
	transform: translate3d(0, 0, 0); // Adds hardware acceleration
	-webkit-backface-visibility: hidden; // Helps prevent animation flickers
	-webkit-perspective: 1000; // Helps prevent animation flickers
}
p, h1, h2, h3, h4, h5, h6, figure, blockquote {
	margin: 0 0 pxtorem(25px);
	font-weight: 400;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h6, .h6 {
	font-family: $font2;
}
h1, .h1 {
  @include fluid-value(font-size, 40px, 50px);
  @include fluid-value(line-height, 42px, 42px);
}
h2, .h2 {
  @include fluid-value(font-size, 36px, 46px);
  @include fluid-value(line-height, 32px, 48px);
}
h3, .h3 {
  @include fluid-value(font-size, 32px, 36px);
  @include fluid-value(line-height, 32px, 34px);
}
h4, .h4 {
	@include font-size(28px);
	line-height: pxtorem(24px);
}
h5, .h5 {
	@include font-size(20px);
	line-height: pxtorem(28px);
}
h6, .h6 {
	@include font-size(16px);
	line-height: pxtorem(26px);
}
a {
	color: $highlight;
	text-decoration: none;
	word-break: break-all;
	transition: color 0.3s ease, opacity 0.3s ease;
	will-change: color, opacity;
	&:hover, &:focus {
		color: $highlight;
		text-decoration: none;
	}
}
img, figure {
	max-width: 100%;
	height: auto;
}
figure {
	img {
		margin-bottom: 15px;
	}
	figcaption {
		@include font-size(12px);
		line-height: pxtorem(14px);
	}
}
img:before {
	display: block;
	content: attr(alt);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-radius: 3px;
	padding: 5px 8px;
	background-color: #e6e6e6;
}

// Fixes stretching issues with IE 9-11
img[src*=".svg"] {
		width: 100%; 
}

table {
	width: 100%;
}
.main ul:not(.list-inline):not(.list-unstyled) {

}
ol {

}
blockquote {

}
[class^="icon-"] {
	// Visually hide text inside icon classes
	font-size: 0;
	line-height: 0;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
	// But show the icon
	&:before {
		@include font-size(16px);
		color: currentColor;
	}
}
::selection {
	color: #fff;
	background: $highlight; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: #fff;
	background: $highlight; /* Gecko Browsers */
}
