/**
 * Utility Classes
 */
.text-center {
	display: block;
	text-align: center;
}
.list-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	> li{
		display: inline-block;
	}
}
.list-plain {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.img-bg {
	background-size: cover;
	background-position: center;
}
.hide {
	display: none !important;
}
.js-show {
	display: none !important;
}
.no-js .js-show {
	display: block !important;
}
.js-hide {
	display: block !important;
}
.no-js .js-hide {
	display: none !important;
}


/**
 * Styling Classes
 */
.text-white {
	color: #fff;
	p, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}
a.text-white {
	color: #fff;
	&:hover {
		color: #fff;
	}
}
.bg-white {
	background-color: #fff;
}

.img-cover {
	// Imitate background-sive: contain; effect with inline images
	// Usage:
	// <div class="img-cover" style="width: 50px; height: 50px;">
	//	<img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
	// </div>
	// IMPORTANT: Adopt height/width from element it's applied to
	position: relative;
	overflow: hidden;
	@include aspect-ratio(1,1);
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		max-width: none;
		transform: translate(-50%,-50%);
	}
	img.portrait {
		height: auto;
		width: 100%;
	}
}

.img-contain {
	// Imitate background-sive: contain; effect with inline images
	// Usage:
	// <div class="img-cover" style="width: 50px; height: 50px;">
	//	<img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
	// </div>
	// IMPORTANT: Adopt height/width from element it's applied to
	position: relative;
	overflow: hidden;
	-webkit-mask-image:
	/* fix overflow:hidden bug in Chrome/Opera */ url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: auto;
		width: 100%;
		transform: translate(-50%,-50%);
	}
	img.portrait {
		height: 100%;
		width: auto;
	}
}

.img-circle {
	// Extends .img-cover and adds border radius
	// Usage:
	// <div class="img-circle" style="width: 50px; height: 50px;">
	// <img src="http://lorempixel.com/image_output/people-q-c-720-480-9.jpg">
	// </div>
	// IMPORTANT: Adopt height/width from element it's applied to
	@extend .img-cover;
	border-radius: 50%;
	/* fixes overflow:hidden bug in Chrome/Opera */
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	@include aspect-ratio(1, 1);
	img {
		/* fixes border radius bug in Chrome */
		-webkit-clip-path: circle(50%);
	}
}


// Split Divider
//
// A nice section divider
//
// Markup: <p class="split-divider">Split!</p>
//
// Styleguide Components.split-divider
.split-divider {
	display: flex;
    align-items: center;
    justify-content: center; // Centers for IE 9-11
	text-align: center;
	&:before, &:after {
		display: block;
	    content: "";
		flex-grow: 1;
		min-width: 5%;
		opacity: 0.1;
	    border-bottom: 1px solid currentColor;
	}
	&:before {
    	margin-right: 15px;
	}
	&:after {
    	margin-left: 15px;
	}
}


/**
 * WordPress Core
 */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}