//  Fonts
// 
// <h3 style="font-family: 'fontname';">fontname 1</h3>
// <h3 style="font-family: 'fontname';">fontname 2</h3>
//
// Weight: 1
//
// Styleguide Brand.fonts
$font1: 'fontname', sans-serif;
$font2: 'fontname', sans-serif;
$icons: 'icons';


// Colors
// 
// $text1 - #000000, text1
// $text2 - #7d7d7d, text2
// $teal - #23918f, teal
// $black - #282a2a, black
//
// Weight: 2
//
// Styleguide Brand.colors
$text1: #000000;
$text2: #7d7d7d;
$teal: #23918f;
$black: #282a2a;
$highlight: $teal;
$stroke: rgba(0, 0, 0, 0.5);

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$youtube: #cd201f;
$googleplus: #dd4b39;


/**
 * Mixins
 */

// Convert PX to REM (based on default 16px font size for HTML element)
// Usage:
// h1 {
//   @include fontSize(32px);
//   line-height: pxtorem(32px);
// }
@function pxtorem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}
@mixin font-size($size) {
	font-size: $size; //Fallback in px
	font-size: pxtorem($size);
}

// Maintain an aspect ratio
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// Sets up icon mixin
@mixin icon($content: '') {
	content: $content;
	font-family: $icons;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	speak: none;
	display: inline-block;
	width: 1em;
	line-height: 1em;
	text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-transform: none;
}

// Media Queries
$breakpoint-sm: 568px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
@mixin bp-sm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}
@mixin bp-md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}
@mixin bp-lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}
@mixin bp-xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

// Calculate linear interpolation: https://en.wikipedia.org/wiki/Linear_interpolation
@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
	// Concept is to calculate the value from the equation of a slope: y = mx + b
	// y = result
	// m = slope
	// x = viewport width (always 100)
	// b= y-intercept

	// Calculate the slope
	$slope: ($max-value - $min-value) / ($max-screen - $min-screen);
	
	// Get the y-intercept
	$intercept: $min-value - ($slope * $min-screen);

	// Determine whether we add or subtract the y-intercept. Sass cannot add negative numbers.
	$operator: "+";
	@if ($intercept < 0) {
		$operator: "-";
		$intercept: abs($intercept); 
	}
	$intercept: pxtorem($intercept);

	@return calc(#{$slope * 100}vw #{$operator} #{$intercept});
}
@mixin fluid-value($properties, $min-value, $max-value, $min-screen: $breakpoint-sm, $max-screen: $breakpoint-xl) {
  & {
    @each $property in $properties {
      #{$property}: pxtorem($min-value);
    }
    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
      }
    }
    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: pxtorem($max-value);
      }
    }
  }
}